/*  Style globalne  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

main {
  margin: 5em auto;
  max-width: 80vw;
  min-height: 71.3vh;
}

h1, h2, h3 {
  margin: 0.8em;
}

p, ul, li {
  line-height: 1.4rem;
}

.btnAddNew {
  float: right;
  margin-top: -42px;
  padding: 10px;
  text-decoration: none;
  background-color: #3c9141;
  color: white;
  border-radius: 3px;
}

.btnAddNew:hover {
  background-color: #177e1d;
  text-decoration: underline;
}

.link {
  padding: 10px 20px;
  text-decoration: none;
  background-color: #3c9141;
  color: white;
  border-radius: 3px;
}

.link:hover {
  background-color: #177e1d;
  text-decoration: underline;
}

.home-link {
  color: #0d4b1a;
}


/*  Nawigacja  */

nav {
  display: flex;
  justify-content: space-between;
  background-color: #248b3a;
}

nav a {
  padding: 20px;
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
  display: inline-block;
}

nav a:hover {
  background-color: #0f6622;
  text-decoration: underline;
}

nav a button {
  border: none;
  background: none;
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
}


/*  Formularze  */

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  width: 30rem;
  height: 2rem;
  padding: 0.3rem;
}

.form label {
  margin-top: 1rem;
}

.form button {
  margin-top: 1.5rem;
  padding: 10px 20px;
  font-size: 1em;
  text-decoration: none;
  background-color: #3c9141;
  border-radius: 3px;
  color: white;
  border: none;
}

.form button:hover {
  background-color: #177e1d;
  text-decoration: underline;
}


/*  Konto użytkownika  */
.form-login-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-login-signup label {
  margin-top: 10px;
}

.form-login-signup input {
  width: 20rem;
  height: 2rem;
  padding: 0.3rem;
}

.form-login-signup button {
  margin-top: 1.5rem;
  padding: 10px 20px;
  font-size: 1em;
  text-decoration: none;
  background-color: #3c9141;
  border-radius: 3px;
  color: white;
  border: none;
}

.form-login-signup button:hover {
  background-color: #177e1d;
  text-decoration: underline;
}

.form-login-signup h3 {
  margin: 2em 0;
}

.content-wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  max-width: 95%;
  margin: 0 auto;
}

.account-nav {
  max-width: 20%;
  margin-right: 10em;
}

.account-nav ul {
  list-style: none;
}

.account-nav ul li {
  margin: 0.5em;
  padding: 0.7em;
  border: 1px solid rgb(173, 173, 173);
  cursor: pointer;
}

.account-nav ul li:hover {
  background-color: #3c9141;
  color: white;
}

#account-details-wrapper {
  max-width: 75%;
}

.add-admin-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add-admin-form h2 {
  margin-bottom: 1em;
}

.add-admin-form input {
  margin: 1em 0;
  padding: 5px;
  width: 20em;
  font-size: 0.9em;
}

.add-admin-form button {
  margin-bottom: 5em;
  padding: 10px 17px;
  font-size: 1em;
  text-decoration: none;
  background-color: #3c9141;
  border-radius: 3px;
  color: white;
  border: none;
}

.add-admin-form button:hover {
  background-color: #3c9141;
  text-decoration: underline;
}


/*  Produkty  */

.items-list-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.items-wrapper {
  margin: 1em 0;
  padding: 1em;
  max-width: 22rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px rgb(173, 173, 173) solid;
  border-radius: 5px;
}

.items-wrapper img {
  width: 20rem;
}

.items-wrapper a {
  margin-top: 0.5em;
  padding: 8px 20px;
  border-radius: 3px;
  background-color: #3c9141;
  color: white;
  text-decoration: none;
}

.items-wrapper a:hover {
  background-color: #177e1d;
  text-decoration: underline;
}


/*  Szczegóły produktów  */

.product-details-wrapper img {
  display: block;
  margin: 2rem auto;
  width: 25rem;
}

.product-details-wrapper p {
  line-height: 1.8em;
}

.product-details-wrapper button {
  float: right;
  margin-top: -42px;
  padding: 10px;
  text-decoration: none;
  background-color: #3c9141;
  color: white;
  border: none;
}

.btnAddNew:hover {
  background-color: #177e1d;
  text-decoration: underline;
}

.recipe-details-wrapper button {
  float: right;
  margin-top: -42px;
  padding: 10px;
  text-decoration: none;
  background-color: #3c9141;
  color: white;
  border: none;
  border-radius: 3px;
}

.recipe-details-wrapper .confirm {
  margin-right: 12em;
}

.recipe-details-wrapper button {
  float: right;
  margin-top: -42px;
  padding: 10px;
  text-decoration: none;
  background-color: #3c9141;
  color: white;
  border-radius: 3px;
}

.recipe-details-wrapper button:hover {
  background-color: #177e1d;
  text-decoration: underline;
}


/*  Diety  */

.diets-wrapper ul {
  margin-left: 2em;
}


/*  Stopka  */

footer {
  display: block;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 3rem;
  background-color: #248b3a;
  color: white;
}

footer p {
  padding: 0.8rem;
  text-align: center;
}