/*  Style globalne  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

main {
  margin: 5em auto;
  max-width: 80vw;
  min-height: 71.3vh;
}

h1 {
  margin-bottom: 0.5em;
}

p, ul, li {
  line-height: 1.4rem;
}

.btnAddNew {
  float: right;
  margin-top: -42px;
  padding: 10px;
  text-decoration: none;
  background-color: rgb(105, 105, 105);
  color: white;
}

.btnAddNew:hover {
  background-color: rgb(75, 75, 75);
  text-decoration: underline;
}


/*  Nawigacja  */

nav {
  display: flex;
  justify-content: space-between;
  background-color: rgb(105, 105, 105);
}

nav a {
  padding: 20px;
  font-size: 1.3rem;
  color: white;
  text-decoration: none;
  display: inline-block;
}

nav a:hover {
  background-color: rgb(75, 75, 75);
  text-decoration: underline;
}


/*  Filtrowanie wyników  */

.filterbar-wrapper {
  margin: 30px auto;
  max-width: 100%;
}

.filterbar-wrapper #chkbx {
  margin: 0 5px;
}

.filterbar-wrapper > label {
  padding-left: 30px;
}

.filterbar-wrapper #submit {
  margin: 0 40px;
  padding: 10px;
  font-size: 15px;
  text-decoration: none;
  background-color: rgb(105, 105, 105);
  color: white;
  border: none;
}

.filterbar-wrapper #submit:hover {
  background-color: rgb(75, 75, 75);
}


/*  Formularze  */

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  width: 30rem;
  height: 2rem;
  padding: 0.3rem;
}

.form label {
  margin-top: 1rem;
}

.form button {
  margin-top: 1.5rem;
  padding: 14px 24px;
  font-size: 16px;
  text-decoration: none;
  background-color: rgb(105, 105, 105);
  color: white;
  border: none;
}

.form button:hover {
  background-color: rgb(75, 75, 75);
  text-decoration: underline;
}


/*  Produkty  */

.product-wrapper {
  max-width: 25rem;
  max-height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px gray solid;
  border-radius: 10px;
}

.product-wrapper img {
  width: 17rem;
}

.product-wrapper a {
  margin-bottom: 10px;
  padding: 8px 20px;
  border: gray solid 1px;
  border-radius: 5px;
  background-color: #49964e;
  color: white;
  text-decoration: none;
}

.product-list-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


/*  Szczegóły produktów  */
.product-details-wrapper img {
  display: block;
  margin: 2rem auto;
  width: 25rem;
}

.product-details-wrapper p {
  line-height: 1.8em;
}

.product-details-wrapper button {
  float: right;
  margin-top: -42px;
  padding: 10px;
  text-decoration: none;
  background-color: rgb(105, 105, 105);
  color: white;
  border: none;
}

.btnAddNew:hover {
  background-color: rgb(75, 75, 75);
  text-decoration: underline;
}


/*  Diety  */

.diets-header {
  margin-top: 50px;
  margin-bottom: 10px;
  margin-left: 30px;
}

ul {
  margin-left: 20px;
}


/*  Przepisy  */

.recipe-wrapper {
  max-width: 25rem;
  max-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.recipe-wrapper img {
  width: 17rem;
}

.recipes-list-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.recipe-wrapper {
  max-width: 500px;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  align-items: center;
}

.recipe-wrapper a {
  background-color: rgb(105, 105, 105);
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}

.recipe-wrapper a:hover {
  background-color: rgb(75, 75, 75);
}


/*  Stopka  */

footer {
  display: block;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 3rem;
  background-color: rgb(105, 105, 105);
  color: white;
}

footer p {
  padding: 0.8rem;
  text-align: center;
}